:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c1: #ffffff;

  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
}
